body {
    background-color: cornflowerblue;
}

button {
    height: 40px;
    width: 200px;
    font-family: Impact;
    background-color: blue;
    color: white;
    font-size: large;
}

#NavigationBar {
    position:absolute;
    left:50%;
    text-align: center;
    padding-top: 15px;
}

#banner {
    display: flex;
    background-color: aquamarine;
    padding-left: 30px;
}

.center {
    text-align: center;
}

#halfLength {
    max-width: 50%;
}

#animation {
    position: absolute;
    top: 150px;
    right: 300px;
    background: transparent;
    border: none !important;
    font-size: 0px;
}

#boatSprite {
    width: 200px;
    rotate: -90deg;
}